.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-size: calc(10px + 2vmin);
  color: rgb(20, 20, 18);
}

.chat-window {
  width: 60%;
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-direction: column; 
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 3vh;
}



.user-message-container {
  align-self: flex-start; /* Align to the left */
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.user-message {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 10px;
  margin: 5px 0;
  border-radius: 12px;
  word-wrap: break-word;
}

.user-message-time {
  align-self: flex-start; /* Align time to the right of the user message */
  font-size: 12px;
  margin-top: 2px;
}

.bot-message-container {
  align-self: flex-end; /* Align to the right */
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.bot-message {
  background-color: #cfe2ff;
  color: #084298;
  padding: 10px;
  margin: 5px 0;
  border-radius: 12px;
  word-wrap: break-word;
}

.bot-message-time {
  align-self: flex-end; /* Align time to the right of the bot message */
  font-size: 12px;
  margin-top: 2px;
}

.chat-box{
	width: 62%;
	display: flex;
	justify-content: space-around;
	height: 5vh;
}

.chat-field{
  padding: 10px;
	width: 90%;
  font-size: 2vh;
  outline: none;
}
.chat-field:focus{
  padding: 10px;
	width: 90%;
  border: 1px solid;
}

.btn-chat-send{
	width: 10%;
  padding: 10px;
  font-size: 2vh;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
